#Searchb{
    height:60px;
    width:50%;

    
}

.searchbox{
    background-color: transparent;
    border-radius:30px;
    position:absolute;
    margin-left: 10%;
    margin-top: -22%;
    height:60px;
    width:30%;
    border-color:rgb(239, 212, 212);
    color:white;
    
}

